<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>realtime_service</key>
	<string>221.230.60.42:8080</string>
	<key>drive_service</key>
	<string>221.230.60.42:8880</string>
	<key>userId</key>
	<string>955467882842706481201</string>
	<key>token</key>
	<string>a2240944519893491e9d33a1d0863ee2bb7a7be6</string>
	<key>documentId</key>
	<string>@tmp</string>
	<key>remotecontrol</key>
	<string>remotecontrol07</string>
	<key>lesson</key>
	<string>lesson07</string>
	<key>favorites</key>
	<string>favorites07</string>
	<key>offlinedoc</key>
	<string>offlinedoc07</string>
</dict>
</plist>
