<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userId</key>
	<string>966873074433089686999</string>
	<key>token</key>
	<string>9617c6934e224b60aa7548b930d5d8e2db288a36</string>
	<key>documentId</key>
	<string>@tmp</string>
</dict>
</plist>
