<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userId</key>
	<string>087768137213776651506</string>
	<key>token</key>
	<string>73bc32028ba556be71071349839931fc8136e63b</string>
	<key>documentId</key>
	<string>@tmp</string>
	<key>remotecontrol</key>
	<string>remotecontrol25</string>
	<key>lesson</key>
	<string>lesson25</string>
	<key>favorites</key>
	<string>favorites25</string>
	<key>offlinedoc</key>
	<string>offlinedoc25</string>
</dict>
</plist>
